@import "grid.less";

@maxWidth: 920px;
@maxWidthPercent: 100%;

@magicNumber: 16px;

@columnWidth:   30;
@gutterWidth:   10;
@columns:       24;

@gridImage: '../img/grid950x24x30x10-nomargin.png';

@hgridImage: '../img/horisontal-grid-24.png';

@gradient-start: linear-gradient(to top, #47d5fd, #38bffe, #51a6f9);
@gradient-end: linear-gradient(to bottom, #51a6f9, #758ae9, #956bcd);
@gradient: linear-gradient(to top, #51a5f8, #51a6f9, #758ae9, #956bcd);

body {
    background-color: white;
    font-family: "Varela Round";
}

.inner-wrap.inner-wrap-header {
    .container(@maxWidthPercent);
}

.inner-wrap.inner-wrap-flash {
    .container(@maxWidthPercent);
}

.inner-wrap {
    .container(@maxWidth);
}

.row {
    .row();
}

.center {
    text-align: center;
}

.v-center {
    align-items: center;
    justify-content: center;
}

.hover:hover {
    color: #505050;
}

.column-one-half {
    .column(@columns / 2);

    @media (max-width: 700px) {
        .column(24);
    }
}

.column-one-third {
    .column(@columns / 3);

    @media (max-width: 700px) {
        .column(24);
    }
}

.section {
    padding-top: 25px;
    padding-bottom: 25px;
}

.section-center {
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}

.fa-10x {
    font-size: 5rem;
}

.after-main,
.footer-column-wrapper {
    margin-bottom: @magicNumber;
}

.outer-wrap-header {
    position: fixed;
    width: 100%;
    background: linear-gradient(45deg, rgba(163,64,255,1) 0%, rgba(163,64,255,1) 4%, rgba(163,64,255,1) 12%, rgba(255,58,81,1) 76%, rgba(255,58,81,1) 91%, rgba(255,58,81,1) 100%);

    box-shadow: 0 .5rem 1rem rgba(0,0,0,.05),inset 0 -1px 0 rgba(0,0,0,.1);
}

.outer-wrap-breadcrumb {
    background: linear-gradient(45deg, rgba(163,64,255,1) 0%, rgba(163,64,255,1) 4%, rgba(163,64,255,1) 12%, rgba(255,58,81,1) 76%, rgba(255,58,81,1) 91%, rgba(255,58,81,1) 100%);
}

.outer-wrap-footer {
    padding-top: 40px;
    width: 100%;
    
    background-attachment: fixed;
    background-position: bottom;
    background-image:linear-gradient(45deg, rgba(163, 64, 255, 0.9) 0%, rgba(163,64,255,0.9) 20%, rgba(163,64,255,0.9) 12%, rgba(255,58,81,0.9) 85%, rgba(255,58,81,0.9) 91%, rgba(255,58,81,0.9) 100%),
    url(https://images.unsplash.com/photo-1460378150801-e2c95cb65a50?crop=entropy&fit=crop&fm=jpg&h=775&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1400);
    background-repeat: no-repeat;
    background-size: cover;
}

.site-header {
    .column(24);

    .site-logo-text {
        .column(8);
        font-size: 2em;
        margin-top: 10px;

        & img {
            height: 100%;
            width: 238px;
            vertical-align: middle;
        }

        & a {
            color: #fff;
            text-decoration: none;
        }
    }

    .navbar2 {
        .column(16);
        text-align: right;
        color: white;
        margin-top: 5px;
    }
}

.inner-wrap-flash {
    /* Set a specific height */
    min-height: 400px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-image:linear-gradient(45deg, rgba(163, 64, 255, 0.9) 0%, rgba(163,64,255,0.9) 20%, rgba(163,64,255,0.9) 12%, rgba(255,58,81,0.9) 85%, rgba(255,58,81,0.9) 91%, rgba(255,58,81,0.9) 100%),
    url(https://images.unsplash.com/photo-1460378150801-e2c95cb65a50?crop=entropy&fit=crop&fm=jpg&h=775&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1400);
    background-repeat: no-repeat;
    background-size: cover;
}

.flash-wrap {
    margin: 0 auto;
    padding-top: 100px;
}

.main {
    .column(24);
}

.wrap-all {
    background-color: #38bffe;
}

.outer-wrap-main {
    background-color: #fff;
    padding: 50px 0;
}

.main.has-sidebar-right {
    .column(18);
}

.main.has-sidebar-left {
    .column(18);
}

.after-main {
    .column(22);
    .push(1);
}

.blog-list-item {
    & a {
        text-decoration: none;
        color: #ff3a51;
    }

    & a:hover {
        color: #da3c96;
    }
}

.sidebar {
    .column(6);

    & ul {
        padding: 0;
        list-style-type: none;
    }
}

.breadcrumb-list li a:hover {
    color: #FFF !important;
    text-decoration: underline;
}

.next-previous {
    width: 100%;
    padding-top: 10px;

    & .next {
        float: right;
    }
}

.footer {
    .column(24);
}

.footer-column {
    .column(@columns / 3);
    color: white;
    line-height: 30px;

    ul {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    ul a {
        color: #FFF;
    }
}

.footer-column-wrapper {
    display: flex;
    flex-flow: row wrap;
    border-bottom: 1px solid #FFF;

    margin-bottom: @magicNumber;
    padding-bottom: @magicNumber;
}

.footer-column-wrapper {
    .clearfix();
}

.site-footer {
    .column(24);
    padding-bottom: 10px;
    color: white;
    text-align: center;

    a {
        color: white;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li {
        display: inline;
        text-decoration: none;
        text-align: center;
    }
}


html.vgrid {
    .inner-wrap-header {
        .showGrid(@maxWidthPercent, @gridImage);
    }
    .inner-wrap-breadcrumb {
        .showGrid(@maxWidth, @gridImage);
    }
    .inner-wrap-main {
        .showGrid(@maxWidth, @gridImage);
    }
    .inner-wrap-footer {
        .showGrid(@maxWidth, @gridImage);
    }
}

html.hgrid {
    .inner-wrap-main {
        .showTypoGrid(@hgridImage)
    }
}
