/** 
* Anax Flat theme.
*/
@import url("https://use.fontawesome.com/releases/v5.3.1/css/all.css");
@import url("https://use.fontawesome.com/releases/v5.3.1/css/brands.css");
@import url("http://fonts.googleapis.com/css?family=Open+Sans|Varela+Round:300italic,400italic,700italic,200,300,400,500,600,700");
@import url(modules.less);



/** --------------------------------------------------------------
 *  Logo images
 */
.logo-1 {
    position: absolute;
    top: 70px;
    left: -140px;
}
